@font-face {
	font-family: "Fraunces";
	src: url("../../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
		format("truetype");
}

@font-face {
	font-family: "Manrope";
	src: url("../../assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
		format("truetype");
}

:root {
	--default-font-size: 1.8rem;

	--primary-color: #24053e;
	--secondary-color: #44ffa1;
	--accent-color: #584d62;
	--color-offwhite: #fcfbff;
	--color-white: #ffffff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	position: relative;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Manrope";
	font-weight: 400;
	font-size: var(--default-font-size);
	line-height: 3.2rem;
	background-color: var(--color-white);
}

.primary-heading {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 600;
	font-size: 8rem;
	line-height: 8rem;
}

.secondary-heading {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 600;
	font-size: 5.6rem;
	line-height: 6.4rem;
}

.tertiary-heading {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 4rem;
}

.btn,
.link {
	border: none;
	text-decoration: none;
	background-color: transparent;
	font-size: var(--default-font-size);
	cursor: pointer;
}

.primary-btn {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	padding: 1rem 2rem;
}

.primary-btn:hover {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	padding: calc(1rem - 2px) calc(2rem - 2px);
	border: 2px solid var(--secondary-color);
}

.secondary-btn {
	color: var(--color-offwhite);
	letter-spacing: -0.18px;
	padding-bottom: 2px;
	border-bottom: 3px solid var(--secondary-color);
}

.secondary-btn:hover {
	color: var(--secondary-color);
}

/* Header Styles  */
#header {
	width: 100%;
	height: 100vh;
}

.header-bg {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	background-color: var(--primary-color);

	clip-path: ellipse(130% 80% at 50% 0%);
	overflow: hidden;
}

#bg-spiral-1 {
	position: absolute;
	left: -10vw;
	top: 10vh;
}

#bg-spiral-2 {
	position: absolute;
	right: -5vw;
	bottom: 35vh;
}

#header .top {
	width: 90%;

	position: absolute;
	top: 5vh;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header > .top > div {
	display: flex;
	justify-content: center;
}

#header > .top > div,
.logo {
	height: 100%;
	cursor: pointer;
}

.header-center-div {
	width: 50%;

	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

.header-center-div .primary-heading {
	text-align: center;
	color: var(--color-offwhite);
}

.header-center-div .primary-heading span::after {
	content: " ";
	width: 100%;

	display: block;

	position: absolute;
	bottom: 0.12em;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 3px solid var(--secondary-color);
}

.hero-image_div {
	position: absolute;
	bottom: 1vh;
	left: 50%;
	transform: translateX(-50%);

	height: 45vh;
	overflow: hidden;
}

.hero-image {
	display: inline-block;
	height: 100%;
}

/* Main Styles */

#main {
	width: 100%;
}

/* Features Styles */
.section.features {
	height: 140vh;
	width: 100%;
	margin-top: -40vh;
	z-index: -10;

	clip-path: ellipse(130% 80% at 50% 20%);
	background-color: var(--color-offwhite);
	/* background-color: red; */
}

.cards-container {
	width: 100%;
	padding: 0 8vw;

	position: absolute;
	top: 50%;

	display: flex;
	gap: 3vw;
}

.card {
	flex-basis: calc(100vw / 3);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	text-align: center;
}

.card > .num {
	font-family: "Fraunces";
	font-size: 2.4rem;
	color: var(--primary-color);

	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 1px solid var(--accent-color);
	margin-bottom: 2rem;
}

.card-heading,
.card-description {
	color: var(--primary-color);
}

/* Founders Info Styles */
.section.founder-info {
	width: 100%;
	height: 110vh;
	padding: 0 10vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

.section.founder-info > .container {
	width: 100%;
	height: 80%;

	display: flex;
	align-items: center;
}

.founder-image_div {
	height: 80%;
}

.founder-image {
	display: inline-block;
	height: 100%;
}

.apply_div {
	width: 65%;
	padding: 5rem 4rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 3rem;

	color: var(--color-offwhite);
	background-color: var(--primary-color);

	position: absolute;
	right: 0;
	top: 40%;

	overflow: hidden;
}

#bg-spiral-3 {
	position: absolute;
	bottom: -20%;
	right: 10%;
}

/* Footer Styles */
#footer {
	padding: 10vh 0 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4vh;
}

.footer-logo_div {
	width: 10rem;
}

.footer-logo {
	width: 100%;
}

.social_div {
	display: flex;
	justify-content: center;
	gap: 5rem;
}

svg:hover > path {
	fill: var(--primary-color) !important;
}

/* Responsive Design */

/* ---- Tablet View */
@media screen and (max-width: 768px) {
	html {
		font-size: 50%;
	}

	#bg-spiral-1,
	#bg-spiral-2,
	#bg-spiral-3 {
		scale: 0.8;
	}

	#bg-spiral-1 {
		position: absolute;
		left: -20vw;
		top: 10vh;
	}

	#bg-spiral-2 {
		position: absolute;
		right: -10vw;
		bottom: 35vh;
	}

	.header-center-div {
		width: 70%;
	}

	.hero-image {
		height: auto;
		width: 100%;
	}

	.hero-image_div {
		height: auto;
		width: 65%;
		bottom: 5vh;
	}

	.section.features {
		padding-top: 35vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cards-container {
		height: max-content;
		flex-wrap: wrap;
		justify-content: center;

		position: static;
	}

	.card {
		flex-basis: 80%;
		display: grid;
		grid-template-columns: 6rem 1fr;
		grid-template-rows: 6rem 1fr;

		gap: 1.5rem;
	}

	.card > .num {
		grid-row: 1/3;
	}

	.card-heading,
	.card-description {
		width: 100%;
		height: max-content;

		text-align: left;
	}

	.section.founder-info {
		padding: 0 3vw;
	}

	.founder-image_div {
		height: auto;
		width: 40%;
	}

	.founder-image {
		height: auto;
		width: 100%;
	}

	#footer {
		padding: 6rem 0 10rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4vh;
	}
}

/* ---- Mobile View */
@media screen and (max-width: 425px) {
	:root {
		--default-font-size: 2rem;
	}

	.primary-heading {
		font-size: 7rem;
		line-height: 7rem;
	}

	.secondary-heading {
		font-size: 5rem;
		line-height: 5.8rem;
	}

	.tertiary-heading {
		font-size: 3.2rem;
		line-height: 4rem;
	}

	.primary-btn {
		padding: 2rem 3rem;
	}

	.primary-btn:hover {
		padding: calc(2rem - 2px) calc(3rem - 2px);
		border: 2px solid var(--secondary-color);
	}

	html {
		font-size: 37.5%;
	}

	#header {
		height: 550px;
	}

	.header-bg {
		clip-path: ellipse(170% 80% at 50% 0%);
	}

	#bg-spiral-1,
	#bg-spiral-2,
	#bg-spiral-3 {
		display: none;
	}

	.header-center-div {
		top: 40%;
		width: 95%;
	}

	.header-center-div .primary-heading {
		margin-bottom: 6px;
	}

	.hero-image_div {
		width: 85%;
		bottom: 4%;
	}

	.section.features {
		height: max-content;
		margin-top: -150px;
		padding-top: 170px;
		padding-bottom: 90px;
		width: 100%;

		clip-path: ellipse(170% 80% at 50% 20%);
	}

	.cards-container {
		gap: 10rem;
	}

	.card {
		flex-basis: 80%;
		display: flex;
		justify-content: center;
		gap: 2rem;
	}
	.card > .num {
		font-size: 3rem;

		width: 6rem;
		height: 6rem;
	}

	.card-heading,
	.card-description {
		text-align: center;
	}

	.section.founder-info {
		height: max-content;
		padding: 10rem 2rem 5rem;

		display: block;
	}

	.section.founder-info > .container {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
	}

	.founder-image_div {
		width: 70%;
		z-index: -10;
	}

	.apply_div {
		margin-top: -12rem;
		width: 100%;
		position: static;
		align-items: center;

		text-align: center;
	}
}
