@font-face {
	font-family: "Fraunces";
	src: url("../../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
		format("truetype");
}

@font-face {
	font-family: "Manrope";
	src: url("../../assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
		format("truetype");
}

:root {
	--default-font-size: 1.8rem;

	--primary-color: #24053e;
	--secondary-color: #44ffa1;
	--accent-color: #584d62;
	--color-offwhite: #fcfbff;
	--color-white: #ffffff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	position: relative;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Manrope";
	font-weight: 400;
	font-size: var(--default-font-size);
	line-height: 3.2rem;
	background-color: var(--color-white);
}

.primary-heading {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 600;
	font-size: 8rem;
	line-height: 8rem;
}

.secondary-heading {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 600;
	font-size: 5.6rem;
	line-height: 6.4rem;
}

.tertiary-heading {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 4rem;
}

.btn,
.link {
	border: none;
	text-decoration: none;
	background-color: transparent;
	font-size: var(--default-font-size);
	cursor: pointer;
}

.primary-btn {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	padding: 1rem 2rem;
}

.primary-btn:hover {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	padding: calc(1rem - 2px) calc(2rem - 2px);
	border: 2px solid var(--secondary-color);
}

.secondary-btn {
	color: var(--color-offwhite);
	letter-spacing: -0.18px;
	padding-bottom: 2px;
	border-bottom: 3px solid var(--secondary-color);
}

.secondary-btn:hover {
	color: var(--secondary-color);
}

/* Header Styles  */
#header {
	width: 100%;
	height: 100vh;
}

.header-bg {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	background-color: var(--primary-color);

	clip-path: ellipse(130% 80% at 50% 0%);
	overflow: hidden;
}

#bg-spiral-1 {
	position: absolute;
	left: -10vw;
	top: 10vh;
}

#bg-spiral-2 {
	position: absolute;
	right: -5vw;
	bottom: 35vh;
}

#header .top {
	width: 90%;

	position: absolute;
	top: 5vh;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header > .top > div {
	display: flex;
	justify-content: center;
}

#header > .top > div,
.logo {
	height: 100%;
	cursor: pointer;
}

.header-center-div {
	width: 50%;

	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

.header-center-div .primary-heading {
	text-align: center;
	color: var(--color-offwhite);
}

.header-center-div .primary-heading span::after {
	content: " ";
	width: 100%;

	display: block;

	position: absolute;
	bottom: 0.12em;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 3px solid var(--secondary-color);
}

.hero-image_div {
	position: absolute;
	bottom: 1vh;
	left: 50%;
	transform: translateX(-50%);

	height: 45vh;
	overflow: hidden;
}

.hero-image {
	display: inline-block;
	height: 100%;
}
